body {
    width: 100%;
    margin: 0;
    padding: 0;
    
}
* {
    box-sizing: border-box;
}
.books-section {
    margin: 0 auto;
    
}
.all_ganre {
    flex-direction: column; 
    margin: 20px;
}
.books {
    display: flex;
    justify-content: space-between;
   
}
.books > article {
    width:30%;
    flex-direction: column;
}
.books > article img {
    width: 100%;
}

@media screen and (max-width:786px){
    .books {
        flex-direction: column;
    }
    .books > article {
        width: 100%;
    }
}